/* media file */

/* top menu bar */ 


@media screen and (min-width:577px) and (max-width:992px) {.header-container{
    display: flex;
    flex-direction: column;
}
    
}





/* header  */
@media screen and (max-width:576px) {
    .header-container{ 
        display: flex;
        flex-direction: column;}
    
}

@media screen and (max-width:576px) {.header-ending{
    display: flex;
    flex-direction: column;
}
    
}


@media screen and (max-width:576px) {.foot{
    display: flex;
    flex-direction: column;
}}





/* online game section */


@media screen and (max-width:576px) {
    .online-game-image {

        grid-template-columns: repeat(1, 1fr);
    }

}



